body {
  background-image: url("./background.jpg");
}
.weather-app {
  background: rgba(0, 0, 0, 0.3);
  margin: 2rem auto 0 auto;
  width: 30rem;
  border-radius: 2rem;
  height: 35rem;
  text-align: center;
  padding-top: 1rem;
  transition: 1;
}
.warm {
  transition: 1s;
  background: url("./warm.jpg");
  background-size: cover;
}
.cold {
  transition: 1s;
  background: url("./cold.jpg");
  background-size: cover;
}
.no-city {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: bolder;
  color: white;
}
.city-input {
  height: 1.889rem;
  background: rgba(255, 255, 255, 0.4);
  width: 60%;
  border: 0;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding-left: 1.5rem;
}

.submit-btn {
  padding-right: 1rem;
  height: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  background: rgb(240, 100, 100);
  border: 0;
  color: white;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: 0.5s ease-in;
}
.submit-btn:hover {
  cursor: pointer;
  background: orangered;
}
